<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans"/>

    <title>B M I</title>
</head>

<body>

<div th:replace="~{fragments/Fragments :: mainTemplate}"></div>

<div class="text-block">
    <h1>BMI CONTENT</h1>
</div>

<div class="footer">
    <p>&copy; The Buggers. Wszelkie prawa zastrzeżone!</p>
</div>

<script>
    function openForm() {
        var formPopup = document.getElementById("myForm");
        var shader = document.querySelector('.shader');
        formPopup.classList.add('active');
        shader.classList.add('active');
    }

    function closeForm() {
        var formPopup = document.getElementById("myForm");
        var shader = document.querySelector('.shader');
        formPopup.classList.remove('active');
        shader.classList.remove('active');
    }
</script>
<script>
    const formPopup = document.querySelector('.form-popup');
    const openFormButton = document.querySelector('.nav-button');
    const shader = document.querySelector('.shader');

    function handleClickOutsideForm(event) {
        if (!formPopup.contains(event.target) && event.target !== openFormButton) {
            closeForm();
        }
    }
    document.addEventListener('click', handleClickOutsideForm);
</script>

</body>
</html>