<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bmi</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" th:src="@{/css/style.css}">
</head>
<body>
<div class="layout">
    <header class="header"></header>
    <nav class="menu">
        <button style="margin-right: 0;"><a href="main.html"><img src="grafika1.jpg" alt="MAIN"></a></button>
        <button style="margin-right: 0;"><a href="bmi.html"><img src="grafika1.jpg" alt="BMI"></a></button>
        <button style="margin-right: 0;"><a href="calories.html"><img src="grafika1.jpg" alt="CALORIES"></a></button>
        <button style="margin-right: 0;"><a href="diets.html"><img src="grafika1.jpg" alt="DIETS"></a></button>
        <button style="margin-right: 0;"><a href="trainings.html"><img src="grafika1.jpg" alt="TRAININGS"></a></button>
        <button style="margin-left: auto;"><a href="login.html"><img src="grafika1.jpg" alt="LOGIN"></a></button>
    </nav>
    <div class="content">
        <img src="grafika2.jpg" alt="main image">
        <p>Some main content here</p>
    </div>
    <footer class="footer">
        <p>&copy; The Buggers. Wszelkie prawa zastrzeżone!</p>
    </footer>
</div>
</body>
</html>