<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Chat Room</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<h2>Chat Room</h2>

<!-- Scrollable message area -->
<div id="chat" style="height: 300px; overflow-y: scroll;">
  <ul id="messageArea">
    <!-- Wyświetlenie wcześniejszych wiadomości -->
    <li th:each="message : ${messages}" th:text="${message.sender + ': ' + message.content}"></li>
  </ul>
</div>

<form id="messageForm">
  <input type="text" id="messageInput" placeholder="Type your message..."/>
  <button type="submit">Send</button>
</form>

<script th:inline="javascript">
  var sender = /*[[${currentUser.email}]]*/ ''; // Zmienna zalogowanego użytkownika
  var recipient = /*[[${recipient.email}]]*/ ''; // Zmienna użytkownika docelowego
  var encodedChatRoomId = /*[[${recipient.encodedChatRoomId}]]*/; // Zakodowany identyfikator pokoju
  var stompClient = null;

  function connect() {
    var socket = new SockJS('/chat');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, onConnected, onError);
  }

  function onConnected() {
    // Subskrybujemy odpowiedni pokój na podstawie zakodowanego identyfikatora
    stompClient.subscribe('/topic/messages/' + encodedChatRoomId, onMessageReceived);
  }

  function onError(error) {
    console.log('Error:', error);
  }

  function sendMessage(event) {
    event.preventDefault();
    var messageInput = document.getElementById('messageInput');
    var messageContent = messageInput.value.trim();

    if (messageContent && stompClient) {
      var message = {
        sender: sender,
        content: messageContent,
        encodedChatRoomId: encodedChatRoomId // Przekazujemy zakodowany identyfikator pokoju
      };
      stompClient.send('/app/chat/' + encodedChatRoomId, {}, JSON.stringify(message));
      messageInput.value = '';
    }
  }

  function onMessageReceived(payload) {
    var message = JSON.parse(atob(payload.body.payload));
    var messageArea = document.getElementById('messageArea');
    var messageElement = document.createElement('li');
    messageElement.textContent = message.sender + ': ' + message.content;
    messageArea.appendChild(messageElement);
  }

  connect();
  document.getElementById('messageForm').addEventListener('submit', sendMessage);
</script>
</body>
</html>

