<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="layout :: head">
    <title>Diets</title>
</head>

<body>

<div th:replace="~{layout :: container}"></div>


<div class="content-container">
    <div class="diet-content">
        <a href="/diets/standard" class="a-diet">
            <div class="diet-tile">
                <h2>Standard Diet</h2>
                <p>Example description of standard diet.</p>
            </div>
        </a>
        <a href="/diets/vege">
            <div class="diet-tile">
                <h2>Vegetarian Diet</h2>
                <p>Example description of vegetarian diet.</p>
            </div>
        </a>
        <a href="/diets/glutenAndLactoseFree">
            <div class="diet-tile">
                <h2>Gluten and Lactose Free Diet</h2>
                <p>Example description of gluten and lactose free diet.</p>
            </div>
        </a>
        <a href="/diets/pescetarian">
            <div class="diet-tile">
                <h2>Pescetarian Diet</h2>
                <p>Example description of pescetarian diet.</p>
            </div>
        </a>
    </div>

</div>


<div class="footer">
    <p>&copy; The Buggers. Wszelkie prawa zastrzeżone!</p>
</div>

</body>
</html>