<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head >
    <meta th:fragment="head" th:remove="tag">
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/buttons.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans"/>
</head>


<body>


        <div th:fragment="container" class="layout">
            <header>
                <div class="header">
                    <div class="background-image"></div>
                <img class="logo" src="/img/logo/logo.png" alt="Logo">
                </div>
            </header>

            <nav class="navbar">
                <div class="nav-left">
                    <a th:href="@{/}" class="nav-button">MAIN</a>
                    <a th:href="@{/bmi}" class="nav-button">BMI</a>
                    <a th:href="@{/diets}" class="nav-button">DIETS</a>
                    <a th:href="@{/trainings}" class="nav-button">TRAININGS</a>
                </div>
                <div class="nav-right">
                    <a th:if="${loggedIn}" th:href="@{/logout}" class="button">LOGOUT</a>
                    <a th:unless="${loggedIn}" th:href="@{/login}" class="login-button">LOGIN</a>
                </div>
            </nav>
        </div>


    <div class="footer">
        <p>&copy; The Buggers. Wszelkie prawa zastrzeżone!</p>
    </div>
</body>
</html>