<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <script th:replace="~{layout :: head}"></script>
    <link rel="stylesheet" type="text/css" href="/css/micromacro.css">
    <title>Macro and Micro Nutrients</title>
  </head>

  <body>
    <div th:replace="~{layout :: container}"></div>

    <div class="container">
      <div class="nutrientsTitle">
        <h1>Macro and Micro Nutrients</h1>
      </div>

<!--      <div class="nutrientsForm">-->
        <form th:action="@{/MacroAndMicroNutrients/search}" method="post" class="nutrientsForm">
          <div class="nutrientsFormInput">
            <input type="text" name="productName" placeholder="Enter a product name" class="nutrientsFormInput">
          </div>
          <div class="nutrientsFormButton">
            <button type="submit" class="button">Search</button>
          </div>
        </form>
<!--      </div>-->

      <div th:if="${foundProducts}" th:class="result">
        <table>
          <tr>
            <th>Name</th>
            <th>Nutrients</th>
            <th>Fat</th>
            <th>Calories</th>
            <th>Proteins</th>
            <th>Carbohydrates</th>
          </tr>
          <tr th:each="product : ${foundProducts}">
            <td th:text="${product.name}"></td>
            <td>
              <ul>
                <li th:each="entry : ${product.nutrients.entrySet()}">
                  <span th:text="${entry.key + ': ' + entry.value}"></span>
                </li>
              </ul>
            </td>
            <td th:text="${product.fat}"></td>
            <td th:text="${product.calories}"></td>
            <td th:text="${product.proteins}"></td>
            <td th:text="${product.carbohydrates}"></td>
          </tr>
        </table>
      </div>
    </div>

    <div th:replace="~{layout :: footer}"></div>

    <p th:replace="~{layout :: scripts}"></p>
  </body>
</html>
