<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container">
    <header class="header"></header>
    <nav class="menu">
        <button style="margin-right: 0;"><a href="/"><img src="#" alt="MAIN"></a></button>
        <button style="margin-right: 0;"><a href="bmi"><img src="#" alt="BMI"></a></button>
        <button style="margin-right: 0;"><a href="calories"><img src="#" alt="CALORIES"></a></button>
        <button style="margin-right: 0;"><a href="diets"><img src="#" alt="DIETS"></a></button>
        <button style="margin-right: 0;"><a href="trainings"><img src="#" alt="TRAININGS"></a></button>
        <button style="margin-left: auto;"><a href="login"><img src="#" alt="LOGIN"></a></button>
    </nav>
    <div class="content">
        <img src="#" alt="Zdjęcie">
        <p>To jest ogromna strona main, cos tu napiszemy, całkiem ciekawego ale może nie teraz</p>
    </div>
    <footer class="footer">
        <p>&copy; The Buggers. Wszelkie prawa zastrzeżone!</p>
    </footer>
</div>
</body>
</html>
