<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="layout :: head">
    <title>Main</title>

    <style>
        .fit-person {
            position: fixed;
            left: auto;
            right: 70%;
            bottom: 0;
            top: 370px;
            height: calc(100vh - 300px);
            transform: translateX(30%);
        }
    </style>
</head>

<body>

    <div th:replace="~{layout :: container}"></div>

    <img src="/img/photos/fitgirl1.png" alt="fit person photo" class="fit-person">

    <div class="text-block">

        <h1>FIT YOUR MUSCLES</h1>

        Choose from hundreds of workouts, healthy recipes, relaxing meditations,<br>
        and expert articles, for a whole body and mind approach to feeling great.<br>
        Professionally designed programs take the guesswork out of exercising.<br>
        Exercise with certified personal trainers whether you're at home or on the road.<br>

        <a th:href="@{/register}" class="joinUs-link">
            <button class="joinUs-button">
                <span class="button-text">JOIN US</span>
            </button>
        </a>
    </div>

    <div class="footer">
        <p>&copy; The Buggers. Wszelkie prawa zastrzeżone!</p>
    </div>

</body>
</html>