<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Specialists</title>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/buttons.css" />
  <style>
  </style>
</head>
<body>
<h1>List of Specialists</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Profile</th>
  </tr>
  <tr th:each="specialist : ${specialists}">
    <td th:text="${specialist.name}"></td>
    <td th:text="${specialist.role}"></td>
    <td>
      <a th:href="@{/profile/{email}(email=${specialist.email})}" class="nav-left-button">Profile</a>
    </td>
  </tr>
</table>
</body>
</html>
