.nav-button {
    color: #bba674;
    font-size: 1.6rem;
    background-image: url("../img/buttons/button_off.png");
    background-size: cover;
    background-position: center;
    border: #bba674;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    background-image: url("../img/buttons/button_on.png");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.nav-button:active {
    opacity: 0.5;
}

.button {
    color: #bba674;
    text-decoration: none;
    font-size: 1.6rem;
    background-image: url("../img/buttons/sm_button_off.png");
    width: 115px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.button:hover {
    background-image: url("../img/buttons/sm_button_on.png");
}
