.nav-button {
    color: #bba674;
    font-size: 20px;
    background-image: url("../img/buttons/button_off.png");
    background-size: cover;
    background-position: center;
    border: #bba674;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.6s;

}

.nav-button:hover {
    background-image: url("../img/buttons/button_on.png");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.button {
    font-family: Oswald, sans-serif;
    color: #bba674;
    text-decoration: none;
    font-size: 20px;
    background-image: url("../img/buttons/sm_button_off.png");
    width: 115px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: black;
    justify-content: center;
    margin: 10px;
    transition: background-image 0.6s;
}

.button:hover {
    background-image: url("../img/buttons/sm_button_on.png");
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 90%, 100% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(-15px);
    }
    95% {
        transform: translateX(5px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 90%, 100% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(-15px);
    }
    95% {
        transform: translateX(5px);
    }
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 90%, 100% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(-15px);
    }
    95% {
        transform: translateX(5px);
    }
}

.bounce {
    animation-name: bounce;
    animation-duration: 5s;
}

.animated {
    animation-delay: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}