.grid-container {
    top: 300px;
    display: grid;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.subDiet {
    height: 580px;
    grid-template-rows: 10% repeat(5, 12%) 10%;
    /*grid-gap: 10px;*/
    display: grid;
}

.grid-item-1 {
    grid-row: 1;
}
.grid-item-2 {
    grid-row: 2;
}
.grid-item-3 {
    grid-row: 3;
}
.grid-item-4 {
    grid-row: 4;
}
.grid-item-5 {
    grid-row: 5;
}
.grid-item-6 {
    grid-row: 6;
}
.grid-item-7 {
    grid-row: 7;
    justify-self: end;
    align-self: end;
}

form {
    background-color: RGBA(30, 30, 30, 0.3);
    border-radius: 30px;
    position: relative;
    width: 313px;
    height: 500px;
    padding: 20px;
}

/*<SELECT> PROPERTIES*/
.drop-menu {
    font-family: "Noto Sans", serif;
    font-size: large;
    height: 35px;
    min-width: 266px;
    background-color: darkgray;
    text-align: center;
    margin-top: 10px;
}

.scrollBox {
    width: 100%;
    height: 500px;
    padding: 20px;
    font-family: "Noto Sans", serif;
    background-color: RGBA(30, 30, 30, 0.3);
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;

    overflow: auto;
}

.scrollBox::-webkit-scrollbar {
    width: 5px;
}

.scrollBox::-webkit-scrollbar-track {
    background: RGBA(30, 30, 30, 0.3);
}

.scrollBox::-webkit-scrollbar-thumb {
    background: RGBA(30, 30, 30, 0.3);
    box-shadow: inset 0 0 2px #bba674;
    border-radius: 2px;

}

.scrollBox::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.65);
}

