.login-container {
    position: relative;
    top: 300px;
    width: 50%;
    max-width: 500px;
    min-width: 420px;
    margin: 0 auto;
    padding: 3em;
    display: grid;
    grid-gap: 1em;
    justify-items: center;
    background-color: RGBA(30, 30, 30, 0.5);
    border-radius: 20px;
}


i {
    color: black;
    position: relative;
    right: 10%;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    font-size: 18px;
}



